{% extends "base.html" %}
{% block content %}




<body class="keen-dashboard">

  <div id="app-wrapper">
    <div id="app-toolbar">
      <form action="" onsubmit="return false;" method="post">
        <div class="row tools">
          <div class="col-sm-2">
            <div class="tool radius">
              <h5>Query Radius</h5>
              <input type="number" id="radius-value" class="form-control" value="">
              <select class="form-control" id="radius-suffix">
                <option></option>
                <option value="mi">mi</option>
                <option value="km">km</option>
              </select>
            </div>
          </div>
          <div class="col-sm-2">
            <div class="tool coordinates">
              <h5>Latitude</h5>
              <input type="number" step="any" id="coordinates-lat" class="form-control" placeholder="Latitude">
            </div>
          </div>
          <div class="col-sm-2">
            <div class="tool coordinates">
              <h5>Longitude</h5>
              <input type="number" step="any" id="coordinates-lng" class="form-control" placeholder="Longitude">
            </div>
          </div>
          <div class="col-sm-2">
            <div class="tool timeframe">
              <h5>Start time</h5>
              <input type="date" id="timeframe-start" class="form-control" placeholder="mm/dd/yyyy">
            </div>
          </div>
          <div class="col-sm-2">
            <div class="tool timeframe">
              <h5>End time</h5>
              <input type="date" id="timeframe-end" class="form-control" placeholder="mm/dd/yyyy">
            </div>
          </div>
          <div class="col-sm-2">
            <div class="tool">
              <h5>Managed Motorway Dashboard</h5>
              <button id="refresh" class="btn btn-primary btn-block">Refresh</button>
            </div>
          </div>
        </div>
      </form>
    </div>
    <div id="mapid" style="height:1858px; border-right: 1px solid #d7d7d7; position: fixed; top: 0px;width: 67%;z-index: 0;cursor: -webkit-grab;cursor: -moz-grab;background: #fff;
    color: #404040;color: rgba(0,0,0,.75);outline: 0;overflow: hidden;-ms-touch-action: none;
    box-sizing: border-box;"></div>


  </div>


<script>


	var mymap = L.map('mapid').setView([-37.735018, 144.894947], 13);

	L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token=pk.eyJ1IjoibWFwYm94IiwiYSI6ImNpejY4NXVycTA2emYycXBndHRqcmZ3N3gifQ.rJcFIG214AriISLbB6B5aw', {
		maxZoom: 18,
		attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, ' +
			'<a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, ' +
			'Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
		id: 'mapbox.streets'
	}).addTo(mymap);

	L.GeoJSON(myGeojsonData).addTo(mymap);


	var circle = L.circle([-37.735018, 144.894947], {
    color: 'red',
    fillColor: '#f03',
    fillOpacity: 0.5,
    radius: 50
}).addTo(mymap);




</script>
    {% endblock %}